# Node dependencies
node_modules/

# Environment files (VERY IMPORTANT)
.env
frontend/.env
backend/.env

# React build
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE
.vscode/